fieldset {
    width: 50%; 
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}

legend{
    text-align: center;
    color: white;
}

body {
    background-color: #023047;
    padding: 80px 10px 0px 10px;
}

.topico{
    display: inline;
}

form {
    background-color: #219ebc;
}